<div class="container-fluid" id="sercice-icon">
  <div class="row" >
    <div class="col" id="ram">
      <img src="/assets/images/icon-water-cooler.png" alt="" id="icon-pic">
    </div> 
    <div class="col" id="ram">
      <img src="/assets/images/cctv_repair.png" alt="" id="icon-pic">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/geyser.png" alt="">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/homeservice_icon.png" alt="" id="icon-pic">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/icon-air-conditioner.png" alt="" id="icon-pic">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/icon-plumber.png" alt="" id="icon-pic">
    </div>
  </div>

</div>

<!-- start crouseel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/poster-2.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/poster1.jpg" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/poster3.jpg" class="d-block w-100" alt="Slide 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- end crousel -->







<!-- service section design -->

<section class="service" id="service">
    <h2 class="heading">Electrician</h2>
  
    <div class="service-container">
        <div class="service-box">
           <img src="/assets/images/ac1.webp" alt="">
            <h3>Electrician</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
  
        <div class="service-box">
          <img src="/assets/images/plumber.jpg" alt="">
            <h3>Plumber</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
  
        <div class="service-box">
          <img src="/assets/images/carpenter.jpg" alt="">
            <h3>Carpenter</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
        <div class="service-box">
          <img src="/assets/images/painter.webp" alt="">
            <h3>Painter</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
    </div>
    <!-- Plumbar section -->
    <h2 class="heading">Plumber</h2>
    <div class="service-container">
        <div class="service-box">
           <img src="/assets/images/electrician.png" alt="">
            <h3>Electrician</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
  
        <div class="service-box">
          <img src="/assets/images/plumber.jpg" alt="">
            <h3>Plumber</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
  
        <div class="service-box">
          <img src="/assets/images/carpenter.jpg" alt="">
            <h3>Carpenter</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
        <div class="service-box">
          <img src="/assets/images/painter.webp" alt="">
            <h3>Painter</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
      </div>


        <!-- Carpenter section -->
    <h2 class="heading">Carpenter</h2>
    <div class="service-container">
        <div class="service-box">
           <img src="/assets/images/electrician.png" alt="">
            <h3>Electrician</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
  
        <div class="service-box">
          <img src="/assets/images/plumber.jpg" alt="">
            <h3>Plumber</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
  
        <div class="service-box">
          <img src="/assets/images/carpenter.jpg" alt="">
            <h3>Carpenter</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
        <div class="service-box">
          <img src="/assets/images/painter.webp" alt="">
            <h3>Painter</h3>
            <h3>&#8377;200/-</h3>
            <p></p>    
            <a href="#" class="btn">Book Now</a>
        </div>
    </div>
    
  </section>