<!-- home section design -->
<section class="home" id="home">
    <div class="home-content">
        <h3>Our Services</h3>
        <!-- <h3>And I'm a <span class="multiple-text"></span></h3> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur odio praesentium quod repellendus totam veritatis earum aspernatur impedit. Magnam eaque nihil consectetur, eveniet odio quo delectus! Aperiam, perferendis eligendi?</p>
        <a routerLink="/services" class="btn">Explore more</a>
    </div>
    <div class="home-img">
        <img src="/assets/images/slider-img.png" >
    </div>
  
  </section>
  
  
  
  
  <!-- service section design -->
  <section class="service" id="service">
    <h2 class="heading">Our <span>Services</span></h2>
  
    <div class="service-container">
        <div class="service-box">
           <img src="/assets/images/electrician.png" alt="">
            <h3>Electrician</h3>
            <h3></h3>
            <p></p>    
            <!-- <a href="#" class="btn">Read More</a> -->
        </div>
  
        <div class="service-box">
          <img src="/assets/images/plumber.jpg" alt="">
            <h3>Plumber</h3>
            <h3></h3>
            <p></p>
            <!-- <a href="#" class="btn">Comming soon</a> -->
        </div>
  
        <div class="service-box">
          <img src="/assets/images/carpenter.jpg" alt="">
            <h3>Carpenter</h3>
            <h3></h3>
            <p></p>
            <!-- <a href="#" class="btn">Comming soon</a> -->
        </div>
        <div class="service-box">
          <img src="/assets/images/painter.webp" alt="">
            <h3>Painter</h3>
            <h3></h3>
            <p></p>
            <!-- <a href="#" class="btn">Comming soon</a> -->
        </div>
    </div>
  </section>

  <!-- skill section design -->
<section class="home" id="home">
  <div class="home-img">
    <img src="/assets/images/slider-img.png" >
</div>
  <div class="home-content">
      <h3>We are also provide 30 Day training</h3>
      <!-- <h3>And I'm a <span class="multiple-text"></span></h3> -->
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur odio praesentium quod repellendus totam veritatis earum aspernatur impedit. Magnam eaque nihil consectetur, eveniet odio quo delectus! Aperiam, perferendis eligendi?</p>
      <a routerLink="/services" class="btn">Register here</a>
  </div>

</section>
  
  